main {
    background: #f3f4f6;
    grid-area: main;
    overflow: auto;
    height:100vh;
    width:100%;
    /* margin: auto */

}
.main__container {
    padding: 20px 35px;
}

.one-o {
    width: 270px;
    background-color: #000;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pic1-o {
    position: relative;
    right: 22px;
    top: 23px;
}

.pic2-o {
    position: relative;
    left: 25px;
    top: 17px;
}

.pic3-o {
    position: relative;
    right: 13px;
    bottom: 18px;
}

.pic4-o {
    position: relative;
    left: 14px;
    bottom: 21px;
}

.project-o {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: #fd4040;
}

.quote-o {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
}



.star-o {
    font-size: 20px !important;
    color: #b1b4b7;
}

.dot-o {
    font-size: 20px !important;
    color: #b1b4b7;
}

.round-o {
    border-radius: 50%;
    background-color: #eee;
    width: 33px;
    height: 33px;
    margin-bottom: -10px;
    align-items: center;
    justify-content: center;
}

.name-o {
    font-size: 22px;
    color: #464e56;
    font-weight: 600;
    text-align: left;
}

.quote2-o {
    font-size: 12px;
    font-weight: 500;
    color: #868e94;
    text-align: left;
}

.img1-o {
    position: relative;
    left: 20px;
    z-index: 28;
    border: 0.5px solid #6ebde4;
    border-radius: 50%;
    background-color: #bcd8e6;
}

.img2-o {
    position: relative;
    left: 10px;
    z-index: 29;
    border: 0.5px solid #6ebde4;
    border-radius: 50%;
    background-color: #bcd8e6;
}

.img3-o {
    z-index: 30;
    border: 0.5px solid #6ebde4;
    border-radius: 50%;
    background-color: #bcd8e6;
}

.task-o {
    color: #727475;
}

.date-o {
    color: #727475;
}


/* *,
*:before,
*:after {
    box-sizing: border-box;
} */
body {
    background-color: #e1e3e5;
}
.container-o {
    background-color: #fff;
}
.CriticalActions-o {
    margin: 0 -15px 15px;
    padding: 15px;
    background-color: #f0f8ff;
}
.commitment-task-cards-o {
    display: flex;
    flex-wrap: wrap;
}
.commitment-task-card-o {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    background-color: #fff;
    box-shadow: 0 6px 12px -5px #1b374f;
}
.commitment-task-card.complete-o {
    border-left: 4px solid #347ec0;
    background-color: #d2e6f6;
}
.commitment-task-card.complete-o .btn-default {
    background-color: #a9cdec;
    border-color: #80b2e0;
}
.commitment-task-card-o:not(:last-child) {
    margin-right: 15px;
}
.commitment-task-card-header-o {
    border-bottom: 1px solid #e1e3e5;
    padding: 0 15px 8px;
}
.commitment-task-card-title-o {
    margin-bottom: 0;
    font-weight: 700;
}
.commitment-task-due-date-o {
    font-size: 10px;
    color: #ef5425;
    padding: 4px 0 0;
    margin-bottom: 0;
}
.commitment-task-type-o {
    display: block;
    color: #92a83b;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
.commitment-task-card-body-o {
    padding: 15px;
    flex: 1 1 auto;
}

.commitment-task-card-footer-o {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
}

.commitment-help-link-o {
    padding: 3px;
    color: #6a737b;
    font-size: 0.8em;
}
.commitment-help-link-o:hover {
    text-decoration: none;
}

.d-flex {
    display: flex;
}
.text_pad-o {
    color: #0e32fb;
    padding-top: 3px;
    padding-bottom: 3px;
}
.text_pad-o > i {
    display: inline;
}

body {
    color: #566787;
    background: #f5f5f5;
    font-family: "Varela Round", sans-serif;
    font-size: 13px;
}
.table-wrapper-o {
    background: #fff;
    padding: 20px 25px;
    margin: 30px 0;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.table-title-o {
    padding-bottom: 15px;
    background: #435d7d;
    color: #fff;
    padding: 16px 30px;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
}
.table-title-o h2 {
    margin: 5px 0 0;
    font-size: 24px;
}
.table-title-o .btn-group {
    float: right;
}
.table-title-o .btn {
    color: #fff;
    float: right;
    font-size: 13px;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    border: none;
    outline: none !important;
    margin-left: 10px;
}
.table-title-o .btn i {
    float: left;
    font-size: 21px;
    margin-right: 5px;
}
.table-title-o .btn span {
    float: left;
    margin-top: 2px;
}



/* Custom checkbox */
.custom-checkbox-o {
    position: relative;
}
.custom-checkbox-o input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    margin: 5px 0 0 3px;
    z-index: 9;
}
.custom-checkbox-o label:before {
    width: 18px;
    height: 18px;
}
.custom-checkbox-o label:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    background: white;
    border: 1px solid #bbb;
    border-radius: 2px;
    box-sizing: border-box;
    z-index: 2;
}
.custom-checkbox-o input[type="checkbox"]:checked + label:after {
    content: "";
    position: absolute;
    left: 6px;
    top: 3px;
    width: 6px;
    height: 11px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    transform: inherit;
    z-index: 3;
    transform: rotateZ(45deg);
}
.custom-checkbox-o input[type="checkbox"]:checked + label:before {
    border-color: #03a9f4;
    background: #03a9f4;
}
.custom-checkbox-o input[type="checkbox"]:checked + label:after {
    border-color: #fff;
}
.custom-checkbox-o input[type="checkbox"]:disabled + label:before {
    color: #b8b8b8;
    cursor: auto;
    box-shadow: none;
    background: #ddd;
}
/* Modal styles */
.modal .modal-dialog {
    max-width: 400px;
}
.modal .modal-header,
.modal .modal-body,
.modal .modal-footer {
    padding: 20px 30px;
}
.modal .modal-content {
    border-radius: 3px;
}
.modal .modal-footer {
    background: #ecf0f1;
    border-radius: 0 0 3px 3px;
}
.modal .modal-title {
    display: inline-block;
}
.modal .form-control {
    border-radius: 2px;
    box-shadow: none;
    border-color: #dddddd;
}
.modal textarea.form-control {
    resize: vertical;
}
.modal .btn {
    border-radius: 2px;
    min-width: 100px;
}
.modal form label {
    font-weight: normal;
}



