.list-item {
    list-style: none;
    margin: 1.2em 0;
    background-color: rgba(11, 161, 248, 0.201);
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0.2em 1.5em;
    i {
        color: rgb(30, 45, 78);

        &:first-child {
           font-size: 1.2em; 
           margin-right: 0.8em;
        }
    }
    p {
        flex: 1;
        font-size: 0.9em;
        padding-top: 15px;
    }
    .actions {
        justify-self: center;
        cursor: pointer;
    }
}